.kar
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}
.mas
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}
.ma
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}
.m
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}
.k
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}
.h
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}

.r
{
  display: flex;
  justify-content: space-evenly;
  padding: 0.75%;

}

