body{
    margin-top: 1%;
    font-size: xx-large;
}
.nam
{
    margin-left: 10%;
   
}
.nam{
    background-color: skyblue;
}
.h2
{
    margin-left: 5%;
    background-color:white;
    position:-webkit-sticky;
}
.img_mus
{
    margin-left: 10%;
   
}
